*{
margin: 0;
padding: 0;
}

header {
    background-color:hwb(278 0% 2%);
    text-align: center;
    align-items: center;
}


body{
    background-color: lab(100% 0.01 -0.01)  ;
    font-family: Arial, sans-serif;
    border: 50px;
}

h1{
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-text-stroke: 1px black;
    margin:0 0 .5rem
}


h4{
  margin:.25rem 0 1rem
}

a {
  text-decoration: none;
  color: #000000
}

nav{
 background-color:#9c06f3;
padding: 1rem;
}

nav ul{
list-style-type: none;
margin: 10;
padding: 10;
display: flex;
justify-content: space-around;

}

nav ul li {
display: inline;
}

nav ul li a{
color: white;
text-decoration: none;
padding: 0.5rem 1rem;
display: block;
} 

nav ul li a:hover{
background-color: grey;
border-radius: 5px;
}

nav a:hover{
  color: white;
}

img{
width: 200px;
height: 200px;
object-fit: cover;
border: 2px solid #000000;
border-radius: 20px 20px 0px 0px;
}

 .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
 }

  .product-card {
 background: white;
 border-radius: 10px;
 overflow: hidden;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
transition: transform 0.3s;
 }

.product-card:hover {
 transform: scale(1.05);
}

.product-card img {
 width: 100%;
  height: 220px;
 object-fit: cover;
 }

  .product-info {
  padding: 15px;
  text-align: center;
 }

 .product-info h3 {
 margin: 10px 0;
 font-size: 1.1em;
 }

 .price {
color: hwb(0 0% 100%);
font-size: 1.2em;
margin-bottom: 10px;
}

button {
 background: lch(89.49% 85.7 94.42);
 color: white;
border: none;
padding: 10px 20px;
 border-radius: 5px;
cursor: pointer;
 }

button:hover {
background: hwb(68 0% 0%);
cursor: pointer;
 }

footer {
 background-color:hwb(278 0% 2%);
 color: white;
 text-align: center;
 padding: 1rem 0;
}

